<p>You are viewing question: {{question.questionText}}</p><br>
<p>for event: {{event.event_title}}</p><br>
<p>for user: {{user.userID}}</p><br>

<!--In case you are editing a text question.-->
{% if tq %}
<p>Your current answer is: {{answer.answerText}} </p><br>
<p>You may enter and submit a new answer:</p>
<form action="/myApp/changeAnswerTQ" mathod="post">
  <input type="text" name="new_answer" value=""><br>
  <input type="submit" value="Submit"><br>
</form>
<br>
{% endif %}



<!--In case you are editing a multiple choice question-->
{% if mq %}
<p>Your current answer is: {{answer.choiceText}}</p><br>
<p>You may choose and submit a new answer:</p>
<form action="/myApp/changeAnswerMQ" mathod="post">
  {% for c in question.cc.all %}
  <input type="radio" name="choice" value="{{c.choiceText}}"><br>
  {% endfor %}
  <input type="submit" value="Submit"><br>
</form>
<br>
{% endif %}
