<b>You have logged in as user: {{user.userID}}</b><br>
<b>You are now in event: {{event.event_title}}</b><br>


{% if partner_allowed %}
<h1 style="color:red";>Here shows the number of partners you plan to bring. You can change it: {{num_partner}} </h1><br>
{% if partner_editable %}
<form action="/myApp/editPartner" mathod="post">
  <input type="text" name="num_partner" value=""><br>
  <input type="submit" value="Change Number of Partners"><br>
</form>
{% endif %}
{% else %}
<h1 style="color:red";>You are not allowed to bring partners to this event.</h1>
{% endif %}


<h1 style="color:red";>Here lists all text questions you need to answer. Click on the question to see your current answer or change your answer.</h1>
{% for q in event.tq.all %}
<p><a href="/myApp/viewAnswerTQ/{{q.id}}">{{forloop.counter}}.{{ q.questionText }}</a></p><br>
{% endfor %}


<h1 style="color:red";>Here lists all multiple choice questions you need to answer. Click on the question to see your current answer or change your answer.</h1>
{% for q in event.mq.all %}
<p><a href="/myApp/viewAnswerMQ/{{q.id}}">{{forloop.counter}}.{{ q.questionText }}</a></p><br>
{% endfor %}


<!--Go back to profile-->
<h1 style="color:red";>Click here to go back to your profile</h1>
<form action="/myApp/backToProfile" mathod="post">
  <input type="submit" value="Back to Profile"><br>
</form>
<br>
