{% if text_question_created %}<b>You have successfully created a new text question!</b><br>{% endif %}
{% if mc_question_created %}<b>You have successfully created a new multiple choice question!</b><br>{% endif %}
{% if delete_tq_successful %}<b>You have successfully deleted a text question!</b><br>{% endif %}
{% if delete_mq_successful %}<b>You have successfully deleted a  multiple choice question!</b><br>{% endif %}
{% if question_text %}<b>You have successfully changed the text for a text question!</b><br>{% endif %}
{% if invite %}<b>Invitation has been sent!</b><br>{% endif %}
{% if add %}<b>You successfully added an owner!</b><br>{% endif %}
{% if add_vendor %}<b>You successfully added a vendor!</b><br>{% endif %}
{% if add_vendor_permission %}<b>Vendor permission to the Question added successfully!</b><br>{% endif %}



<h1 style="color:red;">You've logged in as: {{userID}}</h1><br>
<h1 style="color:red;">You may log out here:</h1><br>
<form action="/myApp/logout" mathod="post">
  <input type="submit" value="Log Out"><br>
</form>
<br>

<h1 style="color:red;">You may go back to your profile here:</h1><br>
<form action="/myApp/backToProfile" mathod="post">
  <input type="submit" value="Back to Profile"><br>
</form>
<br>


<!--Invite another user as gurst-->>
<h1 style="color:red;">You may invite another guest to this event here. Please enter his/her userID:</h1><br>
<form action="/myApp/inviteUser" mathod="post">
  <input type="text" name="guest_id" value=""><br>
  <input type="submit" value="invite"><br>
</form>
<br>

<!--Add another user as Owner-->>
<h1 style="color:red;">You may add another user as owner here. Please enter his/her userID:</h1><br>
<form action="/myApp/addOwner" mathod="post">
  <input type="text" name="owner_id" value=""><br>
  <input type="submit" value="add"><br>
</form>
<br>

<!--Add another user as vendor-->>
<h1 style="color:red;">You may add another user as vendor here. Please enter his/her userID:</h1><br>
<form action="/myApp/addVendor" mathod="post">
  <input type="text" name="vendor_id" value=""><br>
  <input type="submit" value="add"><br>
</form>
<br>


<!--Specify whether bring (+1) partners are allowed-->
<h1 style="color:red;">Here you could specify whether bringing (+1) or more partners to the event is allowed</h1><br>
<p>Currently, bringing partners to this event is: </p>
{% if partner_allowed %}
<p>Allowed</p><br> 
{% else %}
<p>Not Allowed</p><br>
{% endif %}
<form action="/myApp/allowPartner/1" mathod="post">
  <input type="submit" value="allow partners"><br>
</form>
<form action="/myApp/allowPartner/0" mathod="post">
  <input type="submit" value="dis-allow partners"><br>
</form>
<form action="/myApp/addVendorPermissionPartner" mathod="post">
  To add a vendor permission (so that a vendor will see the reponses to this question from guests), enter vendor's ID:
  <input type="text" name="vendor_id">  <input type="submit" value="Add Vendor Permission"><br>
</form>



<h>The event that you are currently editing is: {{event.event_title}} </h><br><br>
<h1 style="color:red;">Here you can create any number of text questions and multiple choice questions</h1>

<!--Create a text questions-->
<h>Create a new text question </h><br>
<form action="/myApp/createTextQuestion" mathod="post">
  Please enter your question text: <br>
  <input type="text" name="question_text" value=""><br>
  <input type="submit" value="Create"><br>
</form>
<br>

<!--Create a multiple choice question-->
<h>Create a new multiple choice question</h><br>
<form action="/myApp/createMultipleChoiceQuestion" mathod="post">
  Please enter your question text and specify the number of choices: <br>
  <input type="text" name="question_text" value=""><br>
  <input type="text" name="Number of Choices" value=""><br>
  <input type="submit" value="Create"><br>
</form>
<br>


<!--List all currently available text questions-->
<h1 style="color:red;">Here lists all currently available text questions</h1><br>
{% for q in text_questions %}
<p>{{forloop.counter}}.{{ q.questionText }}</p><br>
<form action="/myApp/deleteTQ/{{q.id}}" mathod="post">
  <input type="submit" value="Delete Question"><br>
</form>
<form action="/myApp/changeTextTQ/{{q.id}}" mathod="post">
  To change question text, please enter the new question text:
  <input type="text" name="Change Question Text">  <input type="submit" value="Change Question Text"><br>
</form>
<form action="/myApp/addVendorPermission/{{q.id}}/1" mathod="post">
  To add a vendor permission (so that a vendor will see the reponses to this question from guests), enter vendor's ID:
  <input type="text" name="vendor_id">  <input type="submit" value="Add Vendor Permission"><br>
</form>
{% endfor %}



<!--List all currently available multiple choice questions-->
<h1 style="color:red;">Here lists all currently available multiple choice questions. Clicking on the question allows you to edit it(add, delete choices, or change choices)</h1><br>
{% for q in multiple_choice_questions %}
<p><a href="/myApp/editChoices/{{q.id}}">{{forloop.counter}}.{{ q.questionText }}</a></p><br>
<form action="/myApp/deleteMQ/{{q.id}}" mathod="post">
  <input type="submit" value="Delete Question"><br>
</form>
<form action="/myApp/addVendorPermission/{{q.id}}/0" mathod="post">
  To add a vendor permission (so that a vendor will see the reponses to this question from guests), enter vendor's ID:
  <input type="text" name="vendor_id">  <input type="submit" value="Add Vendor Permission"><br>
</form>
{% endfor %}
