<h>You are currently creating choices for question: {{question}}</h><br>
<h>on event: {{event}}</h><br>
<h>for user: {{userID}}</h><br>


<!--Create all the choices-->
<h>Please enter all the choice texts</h><br>
<form action="/myApp/createChoices" mathod="post">
  {% for c in num %}
    Please enter choice {{forloop.counter}}: <br>
    <input type="text" name="choice{{forloop.counter}}" value=""><br>
  {% endfor %}
  <input type="submit" value="Submit"><br>
</form>
<br>
