<p>You are viewing question: {{question.questionText}}</p><br>
<p>for event: {{event.event_title}}</p><br>
<p>for user: {{user.userID}}</p><br>

{% if changed_tq %}<b>Text question answer changed successfully.</b><br>{% endif %}
{% if changed_mq %}<b>Multiple choice question answer changed successfully.</b><br>{% endif %}


<!--In case you are editing a text question.-->
{% if tq %}
<p>If the question is already marked as uneditable by the vendor, you won't be able to edit the question</p><br>
<p>Your current answer is: {% if answer %} {{answer.answerText}} {% endif %}</p><br>
{% if editable %}
<p>You may enter and submit a new answer:</p>
<form action="/myApp/changeAnswerTQ" mathod="post">
  <input type="text" name="new_answer" value=""><br>
  <input type="submit" value="Submit"><br>
</form>
<br>
{% endif %}
{% endif %}



<!--In case you are editing a multiple choice question-->
{% if mq %}
<p>If the question is already marked as uneditable by the vendor, you won't be able to edit the question</p><br>
<p>Your current answer is: {% if answer %} {{answer.choiceText}} {% endif %}</p><br>
{% if editable %}
<p>You may choose and submit a new answer:</p>
<form action="/myApp/changeAnswerMQ" mathod="post">
  {% for c in question.cc.all %}
  <input type="radio" name="choice" value="{{c.choiceText}}"> {{c.choiceText}}<br>
  {% endfor %}
  <input type="submit" value="Submit"><br>
</form>
<br>
{% endif %}
{% endif %}


<!--Go back to the question page to view other questions-->
<p>Go back to view other questions.</p><br>
<form action="/myApp/viewQuestions/{{event.id}}" mathod="post">
  <input type="submit" value="go back"><br>
</form>
