<b>Here you are editing choices for question: {{curr_question.questionText}} </b><br>
<b>for event: {{event.event_title}}</b><br>
<b>for user: {{userID}}</b><br>

{% if choice_created %}<b>You have successfully created a new choice.</b><br>{% endif %}
{% if choice_deleted %}<b>You have successfully deleted a choice.</b><br>{% endif %}
{% if text_changed %}<b>You have successfully changed an existing choice.</b><br>{% endif %}

<h1 style="color:red;">Click here to go back to you event:</h1><br>
<form action="/myApp/backToEvent" mathod="post">
  <input type="submit" value="Back to Event"><br>
</form>
<br>


	    


<h1 style="color:red;">Here you can add a new choice to the question:</h1><br>
<h>Create a new choice for this question </h><br>
<form action="/myApp/createChoice/{{curr_question.id}}" mathod="post">
  Please enter your question text: <br>
  <input type="text" name="choice_text" value=""><br>
  <input type="submit" value="change"><br>
</form>
<br>



<h1 style="color:red;">Here lists all current choices for the question:</h1><br>
{% for c in curr_question.cc.all %}
<p>{{forloop.counter}}.{{c.choiceText}}</p><br>
<form action="/myApp/deleteChoice/{{c.id}}" mathod="post">
  <input type="submit" value="Delete Choice"><br>
</form>
<form action="/myApp/changeChoiceText/{{c.id}}" mathod="post">
  To change question text, please enter the new question text:
  <input type="text" name="Change Choice Text">  <input type="submit" value="Change Choice Text"><br>
</form>
{% endfor %}

