<h1 style="color:red";>Please login or create account. </h1>

{% if exist %}<h1>Incorrect user ID or password, please try again or create account.</h1><br>{% endif %}
{% if just_created %}<h1>Account created successfully! Please login now.</h1><br>{% endif %}
{% if name_already_exist %}<h1>User name already exists, please retry.</h1><br>{% endif %}
{% if deleted %}<h1 style="color:red";>Oops!....you just deleted everything stored in the database of this website!!!</h1><br>{% endif %}
{% if wrong_password %}<h1>User Exists but password is wrong. Please retry</h1><br>{% endif %}
{% if no_cookie %}<h1>No cookie value. Please login!</h1><br>{% endif %}
{% if need_login %}<h1>You didn't login. Please login!</h1><br>{% endif %}


<h>Login</h>
<form action="/myApp/login">
  UserID:<br>
  <input type="text" name="userID" value=""><br>
  Password:<br>
  <input type="text" name="passWord" value=""><br>
  <input type="submit" value="login"><br>
</form>
<br>


<h>Create Account</h>
<form action="/myApp/create" mathod="post">
  UserID:<br>
  <input type="text" name="userID" value=""><br>
  Password:<br>
  <input type="text" name="passWord" value=""><br>
  <input type="submit" value="create"><br>
</form>
<br>


<h1 style="color:red";>Delete all information in the database.</h1><br>
<form action="/myApp/deleteAll">
  <input type="submit" value="click anyway!"><br>
 <form>


