{% if no_guest %}<p>Currently there are no guests to this event. Please go back.</p><br>{% endif %}
{% if guests %}<p>Here list all guest to this event. Click on their name to see the questions and responses that you are allowed to see.</p><br>{% endif %}

{% for guest in guests %}
<p><a href="/myApp/viewQuestionsAndResponses/{{guest.id}}">{{forloop.counter}}.{{ guest.userID }}</a></p><br>
{% endfor %}
