{% if not_attending %}<b>You have successfully declined an invitation.</b><br>{% endif %}


<h1 style="color:red";>This is your profile. You've logged in as user: {{user.userID}}!!!</h1></br>
<h1 style="color:red;">You may log out here:</h1><br>
<form action="/myApp/logout" mathod="post">
  <input type="submit" value="Log Out"><br>
</form>
<br>


<h>You can create a new event here.</h>
<form action="/myApp/createEvent" mathod="post">
  Event Title:<br>
  <input type="text" name="event_title" value=""><br>
  <input type="submit" value="Create Event"><br>
</form>
<br>


{% if created %}<b>Event successfully created! </b><br> {% endif %}
{% if already_exists %}<b>The event already exists!</b><br> {% endif %}


<h1 style="color:red";>This is the list of events that you own: </h1><br>
{% for e in user.events_owner.all %}
<p>{{forloop.counter}}.<a href="/myApp/editEvent/{{e.id}}">{{e.event_title}}</a></p><br>
{% endfor %}


<h1 style="color:red";>This is the list of events in which you are a guest. Click on the event to view question and edit your answers. </h1><br>
{% for e in user.events_guest.all %}
<p>{{forloop.counter}}.<a href="/myApp/viewQuestions/{{e.id}}">{{e.event_title}}</a></p><br>
{% endfor %}


<h1 style="color:red";>This is the list of events in which you are a vendor. Click on the event to view questions and guests' responses. </h1><br>
{% for e in user.events_vendor.all %}
<p>{{forloop.counter}}.<a href="/myApp/viewGuests/{{e.id}}">{{e.event_title}}</a></p><br>
{% endfor %}



<h1 style="color:red";>This is the list of events that you have been invited but not RSVPed yet. Please first answer if you will attend the event first. If you answer 'yes', you will be able to answer further questions related to this event.</h1>
{% for e in user.events_potential_guest.all %}
<p>{{forloop.counter}}.{{e.event_title}}</p><br>
<form action="/myApp/answerEvent/{{e.id}}" mathod="post"> <input type="submit" value="Will Attend"><br> </form>
<form action="/myApp/notAttending/{{e.id}}" mathod="post"> <input type="submit" value="Will Not Attend"><br> </form><br>
{% endfor %}



