<p>This pages list all questions and answers by user "{{guest}}" on event "{{event}}" that you are allowed to see as a vendor. </p><br>


{% if partner_seeable %}
{% if partner_allowed %}
<h1 style="color:red";>Here shows how many partners the guest is about to bring. You can mark it as uneditable. </h1><br>
  <p>{{num_partner}}</p><br>
  <form action="/myApp/markUneditablePartner" mathod="post"> <input type="submit" value="Mark as Uneditable"><br> </form>
{% else %}
<h1 style="color:red";>Guests are not allowed to bring partners to this event. </h1><br>
{% endif %}
{% else %}
<h1 style="color:red";>Sorry, as specified by the onwer of this event, you are not allowed to see any guest information on bringing partners. </h1><br>
{% endif %}



<h1 style="color:red";>Here lists all text questions and the user's answer(It shows nothing if you are not allowed to see any questions/responses, or the event does not have any text questions yet). You can mark it as uneditable. </h1></br>
{% for a in tqAnswers %}
<p>{{ forloop.counter }}.{{ a.questionKey.questionText}}: {{a.answerText}}</p><br>
<form action="/myApp/markUneditable/1/{{a.questionKey.id}}" mathod="post"> <input type="submit" value="Mark as Uneditable"><br> </form>
{% endfor %}
<br>


<h1 style="color:red";>Here lists all multiple choice questions and the user's answer text (it does not display other choices, only the choice responded by this guest).It shows nothing if you are not allowed to see any questions/responses, or the event does not have any mutiple choice questions yet. You can mark it as uneditable. </h1></br>
{% for a in mqAnswers %}
<p>{{ forloop.counter }}.{{ a.questionKey.questionText}}: {{a.choiceText}}</p><br>
<form action="/myApp/markUneditable/0/{{a.questionKey.id}}" mathod="post"> <input type="submit" value="Mark as Uneditable"><br> </form>
{% endfor %}
<br>

